@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  user-select: none;
}

body {
  font-size: 1.6rem;
  line-height: 120%;
}

#root {
  min-height: 100vh;
}

html {
  font-size: 10px;
}

button,
textarea,
input {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

.custom-message .ant-message-notice-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: none;
}
.custom-message span {
  color: #fff;
  font-weight: 500;
}

.custom-message.warning .anticon {
  color: rgb(255, 204, 64);
}

::-webkit-scrollbar {
  width: 0;
}

/* masonry */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -2rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 2rem;
}

/* modal */

.ant-modal {
  font-size: 1.6rem;
}

.ant-modal-content {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1rem);
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 560px) {
  .ant-modal-content {
    background-color: rgb(255, 255, 255);
    backdrop-filter: none;
  }
}

.ant-modal-header {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 1rem 1rem 0 0;
}

.ant-modal-body {
  padding: 0;
  font-size: 1.4rem;
}

/* upload picture */

.ant-upload-list-picture-card .ant-upload-list-item {
  padding: 0;
  border: none;
  border-radius: 0.4rem;
  overflow: hidden;
}

.ant-upload-list-picture-card-container .ant-tooltip {
  display: none;
}
