@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  user-select: none;
}

body {
  font-size: 1.6rem;
  line-height: 120%;
}

#root {
  min-height: 100vh;
}

html {
  font-size: 10px;
}

button,
textarea,
input {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.custom-message .ant-message-notice-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: none;
}
.custom-message span {
  color: #fff;
  font-weight: 500;
}

.custom-message.warning .anticon {
  color: rgb(255, 204, 64);
}

::-webkit-scrollbar {
  width: 0;
}
